.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
    height: 180px;
    background-color: #0c0c0c;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.p3 {
    font-size: 28px;
    font-weight: 800;
}

.footer > .codepen {
    background-color: #434343;
    height: 80px;
    width: 100%;
    border: 3px solid gray;
    text-align: center;
}